<h1>Edition du profil</h1>

<!-- form_for(@user), Rails utilise la requête POST si @user.new_record? est vrai (true) et la requête PUT si la méthode renvoie false. -->
<%= form_for(@user) do |f| %>
	<!--La solution consiste à passer au partiel, en paramètre, un objet correspondant à la variable formulaire f -->
	<%= render 'shared/error_messages', :object  => f.object %>
	<div class="field">
    	<%= f.label :nom, "Nom" %><br />
    	<%= f.text_field :nom %>
  	</div>
	<div class="field">
	    <%= f.label :email, "Email" %><br />
	    <%= f.text_field :email %>
	 </div>
	 <div class="field">
	    <%= f.label :password, "Password" %><br />
	    <%= f.password_field :password %>
	 </div>
	 <div class="field">
	    <%= f.label :password_confirmation, "Confirmation" %><br />
	    <%= f.password_field :password_confirmation %>
	 </div>
	 <div class="actions">
	    <%= f.submit "Update" %>
	 </div>

<%end%>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">changer</a>
</div>