<!--Cette page constitue le template :LAYOUT utilisé pour toutes les vues -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <!-- Pour les popup suppression de user  ,avec :defaults ca pointe vers (public/javacscript) , avec :application point app/assets/javascript-->
    <%= javascript_include_tag :application %>   </head>
  <body>
    <div class="container">
    	<%= render 'layouts/header' %>
    	<section class="round">
        <!-- defini dans le user_controller -->
        <% flash.each do |key, value|%>
          <div class="flash <%= key %>" ><%= value%></div> <!-- equivalent à content_tag(:div, value, :class => "flash #{key}") -->
        <%end%>

			<%= yield %>
    	</section>
    	<%= render 'layouts/footer' %>
    	<%= debug(params) if Rails.env.development? %>
    </div>    
  </body>
</html>